@charset "utf-8";

// ============================================
// Component Base Imports
// ============================================
// 공통으로 사용하는 RexBox 리소스를 한 번에 forward

@forward '../../rexbox/theme';
@forward '../../rexbox/variables';
@forward '../../rexbox/breakpoints';
@forward '../../rexbox/mixins';
@forward '../../rexbox/fonts';