@charset "utf-8";
@use '../variables' as *;


@mixin mobile-xxs { // 진짜 제일 작은사이즈 존재하는 경우
    @media (max-width: #{$mobile-xxs - 1px}) {
        @content;
    }
}
@mixin mobile-xs { // 미니사이즈 존재하는 경우
    @media (max-width: #{$mobile-xs - 1px}) {
        @content;
    }
}
@mixin mobile-sm { // 작은 모바일 사이즈까지 적용
    @media (max-width: #{$mobile-sm - 1px}) {
        @content;
    }
}
@mixin mobile { // 일반 모바일 사이즈까지 적용
    @media (max-width: #{$mobile - 1px}) {
        @content;
    }
}
@mixin desktop-xs { // 좀 큰 모바일 사이즈까지 적용 // 구 mobile-lg
    @media (max-width: #{$desktop-xs - 1px}) {
        @content;
    }
}
@mixin desktop-sm { // 구 tablet
    @media (max-width: #{$desktop-sm - 1px}) {
        @content;
    }
}
@mixin desktop {
    @media (max-width: #{$desktop - 1px}) {
        @content;
    }
}
@mixin desktop-lg {
    @media (max-width: #{$desktop-lg}) {
        @content;
    }
}
@mixin desktop-xl {
    @media (max-width: #{$desktop-xl}) {
        @content;
    }
}

// Mobile First Approach
@mixin from-mobile-xs {
    @media (min-width: #{$mobile-xs}) {
        @content;
    }
}

@mixin from-mobile-sm {
    @media (min-width: #{$mobile-sm}) {
        @content;
    }
}

@mixin from-mobile {
    @media (min-width: #{$mobile}) {
        @content;
    }
}

@mixin from-desktop-xs {
    @media (min-width: #{$desktop-xs}) {
        @content;
    }
}

@mixin from-desktop-sm {
    @media (min-width: #{$desktop-sm}) {
        @content;
    }
}

@mixin from-desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin from-desktop-lg {
    @media (min-width: #{$desktop-lg}) {
        @content;
    }
}

@mixin from-desktop-xl {
    @media (min-width: #{$desktop-xl}) {
        @content;
    }
}

