@charset "utf-8";
@use '../variables' as *;

// scss-docs-start clearfix
@mixin clearfix() {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}
// scss-docs-end clearfix

