@charset "utf-8";

// ============================================
// Transform Mixins
// ============================================
// uses
// @include transform(rotate(45deg));


// Transforms : Browser Prefixes
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

// Transform - Rotate
@mixin rotate ($deg) { 
	@include transform(rotate(#{$deg}deg));
}

// Transform - Scale
@mixin scale($scale) {
	@include transform(scale($scale));
}

// Transform - Translate
@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}

// Transform - Skew
@mixin skew ($x, $y) {
	@include transform(skew(#{$x}deg, #{$y}deg));
}

// Transform Origin
@mixin transform-origin ($origin) {
    -webkit-transform-origin: $origin;
    -moz-transform-origin: $origin;
	-ms-transform-origin: $origin;
	transform-origin: $origin;
}



