@charset "utf-8";
@use '../variables' as *;
@use '../fonts' as *;
@use '../breakpoints' as *;
// 기본 사용
// Compile format : compact가 좋은데 Live Sass Compiler 에서 지원을 안해줌; 나중에 지원해주면 compact로 바꾸기. (Dreamweaver에서는 됨)

html,
body {
    height:100%;
    margin:0;
    padding:0;
}
body{
	font-size:100%;
	font-family: $font-basic;
    min-width:$mobile-xxs;
    position:relative;
	display: flex;
    flex-direction: column;
}
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}
/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
	text-decoration: none;
	transition:.3s;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	-ms-transition:.3s;
	-o-transition:.3s;
}
/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}
/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}
/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
    user-select: auto;
}
/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}
input, select, textarea {
	font-family: $font-basic;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}
/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}
/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}
/* remove default dot (•) sign */
::marker {
    content: initial;
}
/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
    - fix for the content editable attribute will work properly.
    - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    line-break: after-white-space;
    -webkit-user-select: auto;
    user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}

