@charset "utf-8";

$border-radius-none: 0;
$border-radius-sm: 2px;
$border-radius-default: 4px;
$border-radius-md: 6px;
$border-radius-lg: 8px;
$border-radius-xl: 12px;
$border-radius-2xl: 16px;
$border-radius-3xl: 24px;
$border-radius-full: 999px;

