@charset "utf-8";

// ------- typo
$font-basic : "Spoqa Han Sans Neo", "Noto Sans KR", "Nanum Gothic", "MalgunGothic", Dotum, Lato, Roboto, Arial, sans-serif;
$font-monospace :"Spoqa Han Sans Neo", "Noto Sans KR", "Nanum Gothic", "MalgunGothic", Dotum, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-popup : SCoreDream, "Spoqa Han Sans Neo", "Noto Sans KR", "Nanum Gothic", "MalgunGothic", Dotum, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-title : Outfit, "Spoqa Han Sans Neo", "Noto Sans KR", "Nanum Gothic", "MalgunGothic", Dotum, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-title-2 : "GmarketSans", "Spoqa Han Sans Neo", "Noto Sans KR", "Nanum Gothic", "MalgunGothic", Dotum, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


$font-size-3xs:10px;
$font-size-2xs:11px;
$font-size-xs:12px;
$font-size-sm:14px;
$font-size-base:16px;
$font-size-lg:18px;
$font-size-xl:20px;
$font-size-2xl:24px;
$font-size-3xl:30px;
$font-size-4xl:36px;
$font-size-5xl:48px;
$font-size-6xl:60px;
$font-size-7xl:72px;
$font-size-8xl:96px;
$font-size-9xl:128px;

$font-weight-light:300;
$font-weight-normal:400;
$font-weight-medium:500;
$font-weight-semibold:600;
$font-weight-bold:700;
$font-weight-black:900;

