@charset "utf-8";

.d {
    &-flex {
        display: flex;
    }

    &-none {
        display: none;
    }

    &-block {
        display: block;
    }

    &-inline-block {
        display: inline-block;
    }
}

// none
// inline
// inline-block
// block
// grid
// inline-grid
// table
// table-cell
// table-row
// flex
// inline-flex