@charset "utf-8";

.flex {
    &-row { flex-direction: row; }
    &-column { flex-direction: column; }
    &-1 { flex: 1; } 
}

.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }

.justify-content {
    &-between {
        justify-content: space-between;
    }
    &-around {
        justify-content: space-around;
    }
    &-evenly {
        justify-content: space-evenly;
    }
}

.items-start { align-items: flex-start; }
.items-center { align-items: center; }
.items-end { align-items: flex-end; }

.align-content {
    &-start { align-content: flex-start; }
    &-center { align-content: center; }
    &-end { align-content: flex-end; }
}

