@charset "utf-8";
@use '../variables' as *;
@use '../fonts' as *;



// Font Size Classes
.fs {
    &-3xs {
        font-size: $font-size-3xs;
    }

    &-2xs {
        font-size: $font-size-2xs;
    }

    &-xs {
        font-size: $font-size-xs;
    }

    &-sm {
        font-size: $font-size-sm;
    }

    &-base {
        font-size: $font-size-base;
    }

    &-lg {
        font-size: $font-size-lg;
    }

    &-xl {
        font-size: $font-size-xl;
    }

    &-2xl {
        font-size: $font-size-2xl;
    }

    &-3xl {
        font-size: $font-size-3xl;
    }

    &-4xl {
        font-size: $font-size-4xl;
    }

    &-5xl {
        font-size: $font-size-5xl;
    }

    &-6xl {
        font-size: $font-size-6xl;
    }

    &-7xl {
        font-size: $font-size-7xl;
    }

    &-8xl {
        font-size: $font-size-8xl;
    }

    &-9xl {
        font-size: $font-size-9xl;
    }
}

// Font Weight Classes
.fw {
    &-light {
        font-weight: $font-weight-light;
    }

    &-normal {
        font-weight: $font-weight-normal;
    }

    &-medium {
        font-weight: $font-weight-medium;
    }

    &-semibold {
        font-weight: $font-weight-semibold;
    }

    &-bold {
        font-weight: $font-weight-bold;
    }

    &-black {
        font-weight: $font-weight-black;
    }
}

.ff {
    &-basic {
        font-family: $font-basic;
    }

    &-monospace {
        font-family: $font-monospace;
    }
}

// text-align
.text {

    &-start,
    &-left {
        text-align: left !important;
    }

    &-end,
    &-right {
        text-align: right !important;
    }

    &-center {
        text-align: center !important;
    }
}