@charset "utf-8";

// ============================================
// Button Hover Mixin
// ============================================

// button hover 
@mixin button-hover($brightness) {
    &:hover {
        //background-color: inherit;
		//border-color: inherit;
        filter:brightness($brightness);
        -webkit-filter:brightness($brightness);
        cursor:pointer;
    }
}

